<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a7b0647ea4.js" crossorigin="anonymous"></script>
    <script src='/scripts/home.js'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css" type="text/css">

    <title>profile</title>
</head>
<body style="margin:0px; padding:0px;">
    <div  id="con1">
        <!-- <a href="../../../">エコシル</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                メニュー
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/mypage/home/0/0">マイページ</a>
              <a class="dropdown-item" href="/posting">投稿作成</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/mypage/logout">ログアウト</a>
              <a class="dropdown-item" href="/settings/profile">設定</a>

           </div>
        </div> -->
        <nav class="navbar navbar-light justify-content-center" style= "width:100%; background-color: rgb(39, 218, 113);">
            <div class="navbar-nav mr-auto">
                <a href="../../../"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;max-height: 80px;" class="ecoico"></a>
            </div>
            <a class = "menu" href="../about">エコシルとは？</a>
            <a class = "menu" href="/users/login">ログイン</a>
            <a class = "menu" href="/mypage/home/0/0">マイページ</a>
            <a class = "menu" href="/users/logout">ログアウト</a>
            <a class = "menu" href="/users/add">ユーザー登録</a>
            <a class = "menu" href="posting">アイデア投稿</a>
        </nav>

        <div id="hamburger">
            <p class="btn-gNav">
                <span></span>
                <span></span>
                <span></span>
            </p>
            <nav id="gNav" class="">
                <ul class="gNav-menu">
                    <li><a href="about">エコシルとは？</a></li>
                    <li><a href="/">ホーム</a></li>
                    <li><a href="/users/login">ログイン</a></li>
                    <li><a href="/mypage/home/0/0">マイページ</a></li>
                    <li><a href="/users/logout">ログアウト</a></li>
                    <li><a href="/users/add">ユーザー登録</a></li>
                    <li><a href="/posting">アイデア投稿</a></li>
                </ul>
            </nav>
          </div>

    <div class="col-md-10" style="margin-top:1.5em; margin-bottom:1.5em; margin-right:auto; margin-left:auto; background-color: white;" id="a-box">
        <div class="container" id="mds">
            <h4><img src="../../../icon/<%= prf[0].icon %>" id="icon"> <%= name %>の公開用プロフィール</h4>
            <br>
            <form method="post" action="/settings/profile/icon" encType="multipart/form-data">
                image <input type="file" name="sampleFile" accept="image/*"/><br>
                <br>
                <button type="submit" class="btn btn-primary">新しい画像をアップロード</button>
            </form>
            <br>
            <h7>自己紹介</h7>
            <form method="post" action="/settings/profile/add" class="mt-2">
                <div class="row">
                    <div class="col col-md-6">
                            <div class="form-group">
                                <textarea type="text" name="msg" class="form-control" rows="5"><%= prf[0].profile %></textarea>
                            </div>
                    </div>
                </div>
                        <input type="submit" value="更新する" class="btn btn-primary col-1" style="min-width: 90px;">
            </form>


<div class="us-Heading"><i class="fa fa-trash"></i> アカウント削除</div>
<div class="st-Form_help">一度アカウントを削除すると、二度と元に戻せません。十分ご注意ください。</div>
<a class="st-Form_submit st-Form_submit-danger" style="-webkit-appearance: none;" href="/users/delete">アカウントを削除する</a></div>

    </div>















</div>
</body>
</html>