<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a7b0647ea4.js" crossorigin="anonymous"></script>
    <script src='/stylesheets/about.js'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecosiru home</title>
  </head>
  <body class="allWrapper">
    <div class="navbar navbar-light justify-content-center" style="background-color: rgb(39, 218, 113);" >
      <div class="navbar-nav mr-auto">
        <a href ="../"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;" class="ecoico"></a>
      </div>
      <a class = "menu" href="/users/login">ログイン</a>
      <a class = "menu" href="/mypage/home/0/0">マイページ</a>
      <a class = "menu" href="/users/logout">ログアウト</a>
      <a class = "menu" href="/users/add">ユーザー登録</a>
      <a class = "menu" href="posting">アイデア投稿</a>
      <a class = "menu" href="/settings/profile">設定</a>
    </div>

    <div id="hamburger">
      <p class="btn-gNav">
          <span></span>
          <span></span>
          <span></span>
      </p>
      <nav id="gNav" class="">
          <ul class="gNav-menu">
              <li>
                <form class="form-group" method="post" action="/search" style="left:50px;">
                  <input type="text" id="find" name="find" class="form-control" placeholder="キーワードを入力" >
                  <button type="submit" value="検索" class="search-btn"><i class="fas fa-search"></i></button>
                </form>
              </li>
              <li><a href="../">ホーム</a></li>
              <li><a href="/users/login">ログイン</a></li>
              <li><a href="/mypage/home/0/0">マイページ</a></li>
              <li><a href="/users/logout">ログアウト</a></li>
              <li><a href="/users/add">ユーザー登録</a></li>
              <li><a href="/posting">アイデア投稿</a></li>
              <li><a href="/settings/profile">設定</a></li>
          </ul>
      </nav>
    </div>

    <section class="ec-Concept">
        <div class="ab-Heading">
            <div class="ab-Heading_label">CONCEPT</div>
            <h2 class="ab-Heading_text">ecosiruの哲学</h2>
        </div>
        <section class="ab-Concept_section">
            <h3 class="ab-Concept_heading">幅広い「地球のため」を共有しよう</h3>
        <p class="ab-Concept_text">ecosiruは専門的なことから、身近なことまで幅広い知識を共有するサイトです。</p>
    </section>
    <section class="ab-Concept_section">
        <h3 class="ab-Concept_heading">「あなた」と「誰か」がつながる場としていこう</h3>
            <p class="ab-Concept_text">あなたが記事を読んだり、書いたりすることは、その行為だけにとどまらず、記事を通して誰かとつながるきっかけとなります。同じ分野に関心を持っている方と、ecosiruの記事を通してつながることができるかもしれません。「あなた」と「誰か」がつながることで、地球のためになる新しい発見や気付きを増やし、より多くの情報をecosiruで発信していきましょう。</p>
    </section>
            <section class="ab-Concept_section">
                <h3 class="ab-Concept_heading">エコに対する意識改革をみんなで進めよう</h3>
                <p class="ab-Concept_text">我々は地球のためになる一番の近道は、人々の意識を変えていくことだと考えています。このサイトから意識を変えていきましょう。</p>
            </section>

    </section>
    <section class="ab-Signup">
    <div class="ab-Signup_content"><div class="ab-Signup_image ab-Signup_image--left"></div>
    <a class="ab-Signup_button" href="/users/add">ユーザー登録する</a>
    <div class="ab-Signup_image ab-Signup_image--right"></div></div>
    </section>




  </body>
</html>