<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-center" >
        <a href="../">エコシル</a>
        <a href="/users/login">ログイン</a>
        <a href="/mypage/home/0/0">マイページ</a>
        <a href="/users/logout">ログアウト</a>
        <a href="posting">アイデア投稿</a>
      </nav>
        <table>
            <tr>
                <th>Title</th>
                <th>本文</th>
                <th>画像</th>
                <th>カテゴリー1</th>
                <th>カテゴリー2</th>
                <th>更新</th>
                <th>削除</th>
            </tr>
            <% users.forEach(function (value) { %>
                <tr>
                    <td><%= value.title %></td>
                    <td><%= value.text %></td>
                    <td><img src="<%= value.uploaded_file %>"></td>
                    <td><%= value.category1 %></td>
                    <td><%= value.category2 %></td>
                    <td><a href="/u_update/<%= value.id %>">更新</a></td>
                    <td><a href="/delete/<%= value.id %>">削除</a></td>
                </tr>
            <% }); %>
        </table>
</body>
</html>
