<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a7b0647ea4.js" crossorigin="anonymous"></script>
    <script src='/scripts/home.js'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecosiru home</title>
  </head>
  <body style="margin:0px; padding:0px;background-color: #F4F5F7;">
    <nav class="navbar navbar-light justify-content-center" style= "width:100%; background-color: rgb(39, 218, 113);">
      <div class="navbar-nav mr-auto">
        <a href ="../"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;" class="ecoico"></a>
      </div>
      <div class="menu">
        <form class="form-group" method="post" action="/search">
          <input type="text" id="find" name="find" class="form-control" placeholder="キーワードを入力" >
          <button type="submit" value="検索" class="search-btn"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <a class = "menu" href="about">エコシルとは？</a>
      <a class = "menu" href="/users/login">ログイン</a>
      <a class = "menu" href="/mypage/home/0/0">マイページ</a>
      <a class = "menu" href="/users/logout">ログアウト</a>
      <a class = "menu" href="/users/add">ユーザー登録</a>
      <a class = "menu" href="posting">アイデア投稿</a>
      <a class = "menu" href="/settings/profile">設定</a>
    </nav>

    <div id="hamburger">
      <p class="btn-gNav">
          <span></span>
          <span></span>
          <span></span>
      </p>
      <nav id="gNav" class="">
          <ul class="gNav-menu">
              <li>
                <form class="form-group" method="post" action="/search" style="left:50px;">
                <input type="text" id="find" name="find" class="form-control" placeholder="キーワードを入力" >
                <button type="submit" value="検索" class="search-btn"><i class="fas fa-search"></i></button>
                </form>
              </li>
              <li><a href="about">エコシルとは？</a></li>
              <li><a href="/">ホーム</a></li>
              <li><a href="/users/login">ログイン</a></li>
              <li><a href="/mypage/home/0/0">マイページ</a></li>
              <li><a href="/users/logout">ログアウト</a></li>
              <li><a href="/users/add">ユーザー登録</a></li>
              <li><a href="/posting">アイデア投稿</a></li>
              <li><a href="/settings/profile">設定</a></li>
          </ul>
      </nav>
    </div>

      <!-- <div style="clear: left;"> -->
    <div style = "padding-top: 10px; padding-bottom: 10pt;">
      <div class="row" style="margin:0px;">

        <div class="col-md-3" style="margin-top:20px; margin-left:auto; padding-bottom:10px; background-color:white;">
          <h3 class="titlenew">人気の記事</h3>
          <h6 class="midasi">総合</h6>
          <article style="background-color: white;">
            <% viewrank.forEach(function (obj) { %>
              <div class="articleone">
                <p class="articlefont" ><img src='/images/personalaikon.png' alt="タグ" style="display: inline; width:20px;"> <a class="text-dark" href="/mypage/home/<%= obj.name %>/1"><%= obj.name %></a>さんの投稿</p>
                <b class="articletitle"><a class="text-dark" href="/mypage/article/<%= obj.post_id %>/0"> <%= obj.title %> </a></b>
                <p class="articlecategory"><img src='/images/taguaikon.png' alt="タグ" style="display: inline; width:20px;"> <a class="text-dark" href="/category/<%= obj.category1 %>"><%= obj.category1 %></a>, <a class="text-dark" href="/category/<%= obj.category2 %>"><%= obj.category2 %></a></p>
                <p><i class="fas fa-thumbs-up" id="icon" style="font-size:20px; margin-left:8px" > <%= obj.likes %></i></p>
              </div>
            <% }); %>
          </article>
          <h3 class="titlenew" style="margin-top: 5px;">ユーザーランキング</h3>
          <% user_rank.forEach(function (obj) { %>
            <p><a class="text-dark" href="/mypage/home/<%= obj.name %>/1" style="margin-left:15px"><%= obj.name %></a></p>
            <% }); %>
            <hr class="homehr" width="100%">
            <h3 class="titlenew" style="margin-top:10px; margin-bottom:10px;">タグ</h3>
            <p><a href="/category/生活科学" class="tagu">生活科学</a></p>
            <p><a href="/category/地理学" class="tagu">地理学</a></p>
            <p><a href="/category/環境学" class="tagu">環境学</a></p>
            <p><a href="/category/生物化学" class="tagu">生物化学</a></p>
            <p><a href="/category/農学" class="tagu">農学</a></p>
            <p><a href="/category/工学" class="tagu">工学</a></p>
            <p><a href="/category/その他" class="tagu">その他</a></p>
        </div>

        <div class="col-md-3 sintyakuippan">
          <h3 class="titlenew">一般記事</h3>
          <h6 class="midasi">新着</h6>
          <article style="background-color: white;">
            <% newrank_general.forEach(function (obj) { %>
              <div class="articleone">
                <p class="articlefont" ><img src='/images/personalaikon.png' alt="タグ" style="display: inline; width:20px;"> <a class="text-dark" href="/mypage/home/<%= obj.name %>/1"><%= obj.name %></a>さんの投稿</p>
                <b class="articletitle"><a class="text-dark" href="/mypage/article/<%= obj.post_id %>/0"> <%= obj.title %> </a></b>
                <p class="articlecategory"><img src='/images/taguaikon.png' alt="タグ" style="display: inline; width:20px;"> <a class="text-dark" href="/category/<%= obj.category1 %>"><%= obj.category1 %></a>, <a class="text-dark" href="/category/<%= obj.category2 %>"><%= obj.category2 %></a></p>
                <p><i class="fas fa-thumbs-up" id="icon" style="font-size:20px; margin-left:8px" > <%= obj.likes %></i></p>
              </div>
              <% }); %>
            </article>
        </div>

        <div class="col-md-3 sintyakusenmon">
          <h3 class="titlenew">専門記事</h3>
          <h6 class="midasi">新着</h6>
          <article style="background-color: white;">
            <% newrank_academic.forEach(function (obj) { %>
              <div class="articleone">
                <p class="articlefont" ><img src='/images/personalaikon.png' alt="タグ" style="display: inline; width:20px;"> <a class="text-dark" href="/mypage/home/<%= obj.name %>/1"><%= obj.name %></a>さんの投稿</p>
                <b class="articletitle"><a class="text-dark" href="/mypage/article/<%= obj.post_id %>/0"> <%= obj.title %> </a></b>
                <p class="articlecategory"><img src='/images/taguaikon.png' alt="タグ" style="display: inline; width:20px;"> <a class="text-dark" href="/category/<%= obj.category1 %>"><%= obj.category1 %></a>, <a class="text-dark" href="/category/<%= obj.category2 %>"><%= obj.category2 %></a></p>
                <p><i class="fas fa-thumbs-up" id="icon" style="font-size:20px; margin-left:8px" > <%= obj.likes %></i></p>
              </div>
            <% }); %>
          </article>
        </div>

      </div>
    </div>

  </body>
</html>