<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel='stylesheet' href='/stylesheets/posting.css' />
    <meta charset="UTF-8">
    <title>記事作成</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-center" >
      <a href ="../"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;" id="ecoico"></a>
      <div class="menu">
        <a href="../">エコシル</a>
        <a href="/users/login">ログイン</a>
        <a href="/mypage/home/0/0">マイページ</a>
        <a href="/users/logout">ログアウト</a>
        <a href="posting">アイデア投稿</a>
      </div>
    </nav>
    <h1 id="input_form">記事を投稿しよう</h1>
    <form action="/posting" method="POST" encType="multipart/form-data" class="forms">
      タイトル<br> <input type="text" name="title" id="title2" placeholder="一言で惹きつけよう"><br>
      本文<br> <textarea name="text" id="textarea" placeholder="自由に書いちゃって"></textarea><br>
      画像<br> <input type="file" name="sampleFile" accept="image/*" onchange="previewImage(this);"><br>
      <p>
        選択した画像:<br>
        <img id="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="max-width:200px;">
      </p>
      カテゴリ１ <select name="category1">
        <option value="">選択してください</option>
        <option value="生活科学">生活科学</option>
        <option value="地理学">地理学</option>
        <option value="環境学">環境学</option>
        <option value="生物化学">生物化学</option>
        <option value="農学">農学</option>
        <option value="工学">工学</option>
        <option value="その他">その他</option>
      </select>
      カテゴリ2 <select name="category2">
        <option value="">選択してください</option>
        <option value="生活科学">生活科学</option>
        <option value="地理学">地理学</option>
        <option value="環境学">環境学</option>
        <option value="生物化学">生物化学</option>
        <option value="農学">農学</option>
        <option value="工学">工学</option>
        <option value="その他">その他</option>
      </select><br>
      専門・一般 <select name="types">
        <option value="">選択してください</option>
        <option value="academic">専門</option>
        <option value="general">一般</option>
      </select><br>
      <button type="submit" class="btn btn-primary">投稿</button>
    </form>
    <script>
      function previewImage(obj) {
        var fileReader = new FileReader();
        fileReader.onload = (function() {
          document.getElementById('preview').src = fileReader.result;
        });
        fileReader.readAsDataURL(obj.files[0]);
      }
    </script>
  </body>
</html>
