<!DOCTYPE html>
<html lang="ja">

  <head>
    <link rel='stylesheet' href='/stylesheets/mypageHome.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a7b0647ea4.js" crossorigin="anonymous"></script>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src='/scripts/home.js'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
  </head>
  <body class="container">

    <div class="headico">
      <a href ="/"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;" class="ecoico"></a>
      <div class="menu">
          <a href="/">ホーム</a>
          <a href="/users/logout">ログアウト</a>
          <a href="/posting">アイデア投稿</a>
      </div>
  </div>

  <div id="hamburger">
      <p class="btn-gNav">
          <span></span>
          <span></span>
          <span></span>
      </p>
      <nav id="gNav" class="">
          <ul class="gNav-menu">
              <li><a href="/">ホーム</a></li>
              <li><a href="/users/logout">ログアウト</a></li>
              <li><a href="/posting">アイデア投稿</a></li>
          </ul>
      </nav>
  </div>


    <div role="main">



      <div class="all-articles">

        <form method="post" action="/search">
          <div class="searchResultContainer_textFieldContainer">
            <input type="text" id="find" name="find" class="searchResultContainer_textFieldContainer" value="<%=find %>">
            <button type="submit" class="searchResultContainer_searchButton"><span class="fa fa-fw fa-search searchResultContainer_searchButtonIcon"></span></button>
          </div>

        </form>
        <%= title %>
        <% for(var i in mydata){%>
          <%var obj = mydata[i]; %>
            <article>
                    <div>
                            <h1><a id="a-h1" href = "/mypage/article/<%= obj.post_id %>/0"><%= obj.title %></a></h1>
                            <footer>
                                <p class="articlecategory"><img src='/images/taguaikon.png' alt="タグ" style="display: inline; width:20px;">
                                <a href="/category/<%= obj.category1 %>"><%= obj.category1 %></a>
                                <a href="/category/<%= obj.category2 %>"><%= obj.category2 %></a>
                                </p>
                            </footer>
                            <p>PV.<%= obj.views %></p>

                            <hr>
                    </div>
            </article>
            <% } %>
    </div>

    </div>
  </body>
</html>