<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel='stylesheet' href='/stylesheets/posting.css'/>
    <link rel='stylesheet' href='/stylesheets/mypageHome.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src='/scripts/home.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a7b0647ea4.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Edit</title>
</head>
<body>
    <div class="headico">
        <a href ="/"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;" class="ecoico"></a>
        <div class="menu">
            <a href="/">ホーム</a>
            <a href="/mypage/home/0/0">マイページ</a>
            <a href="/users/logout">ログアウト</a>
        </div>
    </div>

    <div id="hamburger">
        <p class="btn-gNav">
            <span></span>
            <span></span>
            <span></span>
        </p>
        <nav id="gNav" class="">
            <ul class="gNav-menu">
                <li><a href="/">ホーム</a></li>
                <li><a href="/mypage/home/0/0">マイページ</a></li>
                <li><a href="/users/logout">ログアウト</a></li>
            </ul>
        </nav>
    </div>

    <h1 id="input_form">更新フォーム</h1>
    <form action="/update/<%= user[0].post_id %>" method="POST" encType="multipart/form-data" class="forms">
        タイトル<br> <input type="text" name="title" value="<%= user[0].title %>"><br>
        本文<br> <textarea type="text" name="text" id="textarea"><%= user[0].text %></textarea><br>
        画像<br> <input type="file" name="sampleFile" accept="image/*" onchange="previewImage(this);"><br>
        <p>
            選択した画像:<br>
            <img src="data:;base64,<%=user[0].uploaded_file%>" id="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="max-width:200px;">
        </p>
        カテゴリ１ <select name="category1">
            <option value="<%= user[0].category1 %>">選択してください</option>
            <option value="生活科学">生活科学</option>
            <option value="地理学">地理学</option>
            <option value="環境学">環境学</option>
            <option value="生物化学">生物化学</option>
            <option value="農学">農学</option>
            <option value="工学">工学</option>
            <option value="その他">その他</option>
        </select>
        カテゴリ2 <select name="category2">
            <option value="<%= user[0].category2 %>">選択してください</option>
            <option value="生活科学">生活科学</option>
            <option value="地理学">地理学</option>
            <option value="環境学">環境学</option>
            <option value="生物化学">生物化学</option>
            <option value="農学">農学</option>
            <option value="工学">工学</option>
            <option value="その他">その他</option>
        </select><br>
        専門・一般 <select name="types">
            <option value="<%= user[0].types %>">選択してください</option>
            <option value="academic">専門</option>
            <option value="general">一般</option>
          </select><br>
        <button type="submit" class="btn btn-primary">更新</button>
    </form>
    <script>
        function previewImage(obj) {
          var fileReader = new FileReader();
          fileReader.onload = (function() {
            document.getElementById('preview').src = fileReader.result;
          });
          fileReader.readAsDataURL(obj.files[0]);
        }
    </script>
</body>
</html>
