<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-center" >
      <a href="../">エコシル</a>
      <a href="/users/login">ログイン</a>
      <a href="/mypage/home/0/0">マイページ</a>
      <a href="/users/logout">ログアウト</a>
      <a href="/users/add">ユーザー登録</a>
      <a href="posting">アイデア投稿</a>
      <a href="/settings/profile">設定</a>
    </nav>

    <h1>タグ一覧</h1>


            <% users.forEach(function (value) { %>

                        <%= value.category1 %>
                        <br>


            <% }); %>



  </body>
</html>
