nav {
    border-bottom: 1px solid black;
    padding-top:30px;
    padding-left: 30px;
    background-color: rgb(39, 218, 113);
}

.menu{
    text-align: right;
    padding-right: 30px;
}
.ecoico:hover{
    transform:scale(1.2,1.2);
}
.allWrapper{
    background-color: #f6f6f4;
}
.menu{
    margin-left:15px;
    color:white;
}
/*search*/
.search-btn{
    font-size: 22px;
    border: none;
    background: white;
    color: black;
    position: absolute;
    width: 2em;
    height: 32px;
    right:1px;
    top: 2px;
}
.form-group{
    position:relative;
    max-width:300px;
    top:8px;
    margin:0px;
}

.ec-Concept {
    max-width: 720px;
    margin: 0 auto;
    padding: 96px 24px 64px;
}
.ab-Heading {
    color: #3e3e3e;
    font-weight: bold;
    text-align: center;
}

.ab-Heading_label {
    color: #55c500;
    font-size: 20px;
    margin-bottom: 4px;
}

.ab-Heading_text {
    font-size: 32px;
}
.ab-Concept_section {
    margin-top: 48px;
}
.ab-Concept_heading {
    font-size: 20px;
    font-weight: bold;
}

.ab-Concept_text {
    font-size: 16px;
    line-height: 2;
    margin-top: 1em;
}

.ab-Signup_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 288px;
    height: 48px;
    color: #fff;
    background-color: #55c500;
    font-size: 14px;
    font-weight: bold;
}
.ab-Signup_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.ab-Signup {
    background-color: #f6f6f4;
    height: 170px;
    margin-bottom: -64px;
}
/* メニューボタン */
#hamburger{
    width: 100%;
}
  
#hamburger .btn-gNav{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
  
#hamburger .btn-gNav span{
    position: absolute;
    width: 100%;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
#hamburger .btn-gNav span:nth-child(1) {
    top:0;
}
#hamburger .btn-gNav span:nth-child(2) {
    top:10px;
}
#hamburger .btn-gNav span:nth-child(3) {
    top:20px;
}
#hamburger .btn-gNav.open span:nth-child(1){
    background: rgb(149, 238, 149);
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
}
#hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
    top: 6px;
    background :rgb(203, 247, 179);
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
}
#gNav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #1d1f1db4;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
    padding-top: 50px;
    transition: .3s;
}
#gNav.open{
    right: 0px;
}
#gNav .gNav-menu{
    width: 100%;
    height:100%;
    display: block;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
}
#gNav .gNav-menu li{
    display: block;
    padding : 20px 30px;
}
#gNav .gNav-menu li a{
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
    color: rgb(245, 243, 243);
    font-size: 1.1rem;
    text-size-adjust: 100%;
}

@media screen and (min-width: 768px){
    .btn-gNav{
      display: none;
    }
    #gNav{
      display: none;
      position: inherit;
      max-width: 1200px;
      top: 100px;
      right: 0;
      height: 50px;
    }
    #gNav .gNav-menu{
      display: none;
      width: 100%;
      height: 4%;
      position: fixed;
      top: 50px;
      text-align: right;
    }
}
@media screen and (max-width: 767.9px) {
    .menu { display: none; }
}