.test{
  white-space: pre-wrap;
  padding-top: 1%;
  padding-bottom: 2%;
}
.author{
padding-top: 2%;
display: inline-block;
padding-left: 1%;
}
.dropdown{
  text-align: right;
}
h1{
  padding-top: 1%;
}
#haha{
  width: 150px;
}
.left{
  margin-right: auto;
  display: inline-block;
  padding-top: 2%;
}
.right{
  margin-left: 68%;
  display: inline-block;
}
textarea {
  resize: none;
  width:200px;
  height:200px;
}
#mds{
  padding: 2%;
}
#nm{
  color: #000;
}

#come{
  height:180px;
  resize: vertical;
  overflow: hidden;
}
body{
  background-color: rgba(202, 206, 209, 0.452);
}
#con1{
float: right;
padding-right: 25%;
}
#con2{
float: left;
padding-left: 7%;
}
.sticky {

position: fixed;

}
button {
border: none;
background-color: solid rgba(202, 206, 209, 0.452);
background: transparent;
}

img {
width: 300px;
height: 300px;
}

#icon {
width: 60px;
height: 60px;
border-radius: 50%;
}

.prf{
white-space: pre-wrap;
padding-top: 1%;
padding-bottom: 2%;
padding-left: 7%;
}

#cmicon {
width: 40px;
height: 40px;
border-radius: 50%;
}
.articleall{
  display: flex;
  margin-top: 30px; 
}
.articleImg {
  margin: 0 20px 10px 10px;
}
.ecoico:hover{
  transform:scale(1.2,1.2);
}
@media screen and (max-width: 767.9px) {
  .articleall{
    display: block;
    margin-top: 30px;
  }
  .articleImg {
    margin: 0 20px 20px 10px;
  }
  #artimg{
    margin-bottom:20px;
  }
  #icon{
    margin-top:10px;
  }
}