body {
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
  text-size-adjust: 100%;
}

.allWrapper{
  background-color: #f6f6f4;
  margin:0px;
}

.headico {
  position: inherit;
  width: 100%;
  padding-top:30px;
  padding-left: 30px;
  background-color: rgb(39, 218, 113);
}
#icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  }
#hamburger{
  width: 100%;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.ecoico:hover{
  transform:scale(1.2,1.2);
}

.menu{
  text-align: right;
  padding-right: 30px;
}

.all-articles{
  margin-left: 14%;
  margin-right: 14%;
  background-color: #FFFFFF;
}

article{
  padding-left:16px;
  padding-right: 16px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline currentColor;
}

#a-h1{
  text-decoration: underline currentColor;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: currentColor;
  text-decoration: none;
  color: black;
  overflow-wrap: break-word;
}

#a-h1:hover{
  cursor: pointer;
  text-decoration: underline;
}

div {
  display: block;
}

#hamburger .btn-gNav{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#hamburger .btn-gNav span{
  position: absolute;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span:nth-child(1) {
  top:0;
}
#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
}
#hamburger .btn-gNav span:nth-child(3) {
  top:20px;
}
#hamburger .btn-gNav.open span:nth-child(1){
  background: rgb(149, 238, 149);
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
#hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
  top: 6px;
  background :rgb(203, 247, 179);
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
#gNav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #1d1f1db4;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
#gNav.open{
  right: 0px;
}
#gNav .gNav-menu{
  width: 100%;
  height:100%;
  display: block;
  flex-direction: column;
  text-align: center;
  /*justify-content: center;*/
}
#gNav .gNav-menu li{
  display: block;
  padding : 20px 30px;
}
#gNav .gNav-menu li a{
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  color: rgb(245, 243, 243);
  font-size: 1.1rem;
  text-size-adjust: 100%;
}


@media screen and (min-width: 600px){
.btn-gNav{
  display: none;
}
#gNav{
  display: none;
  position: inherit;
  max-width: 1200px;
  top: 100px;
  right: 0;
  height: 50px;
}
#gNav .gNav-menu{
  display: none;
  width: 100%;
  height: 4%;
  position: fixed;
  top: 50px;
  text-align: right;
}
}

@media screen and (max-width: 600px) {
.menu{
  display: none;
}
}
.searchResultContainer_searchButton {
  background-color: #55c500;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-left: 8px;
  padding: 10px 10px;
  display: flex;
  margin-top: 10px;
  width: 5%;
}

.searchResultContainer_textFieldContainer {
  display: block;
  flex-grow: 1;
  overflow: hidden;
  width: 80%;
  display: flex;
  margin-top: 10px;

}