nav {
    border-bottom: 1px solid black;
    padding-top:30px;
    padding-left: 30px;
    background-color: rgb(39, 218, 113);
}

#ecoico:hover{
    transform:scale(1.2,1.2);
}

.menu{
    text-align: right;
    padding-right: 30px;
}

#input_form{
    padding-left:160px;
}

.forms{
    padding-left:160px;
}

#title2 {
    width: 30%;
    background: hsla(146, 54%, 83%, 0.363);
}

#textarea {
    display: inline-block;
    width: 60%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: hsla(146, 54%, 83%, 0.363);
    margin: 0.5em 0;
    line-height: 1.5;
    height: 6em;
}