.test{
  white-space: pre-wrap;
  padding-top: 1%;
  padding-bottom: 2%;

}
.author{
padding-top: 2%;;
}
.dropdown{
  text-align: right;
}
h1{
  padding-top: 1%;
}
#haha{
  width: 150px;
}
.left{
  margin-right: auto;
  display: inline-block;
  padding-top: 2%;
}
.right{
  margin-left: 68%;
  display: inline-block;
}
textarea {
  resize: none;
  width:200px;
  height:200px;
}
#mds{
  padding: 2%;
}
#nm{
  color: #000;
}

#come{
  height:180px;
  resize: vertical;
  overflow: hidden;
}
body{
  background-color: rgba(202, 206, 209, 0.452);
}
/* #con1{
float: right;
padding-right: 25%;
}
#con2{
float: left;
padding-left: 7%;
} */
.sticky {

position: fixed;

}
button {
border: none;
background-color: solid rgba(202, 206, 209, 0.452);
background: transparent;
}

#icon {
width: 40px;
height: 40px;
border-radius: 50%;

}
.container{
  padding-left: 50%;
}
.us-Heading {
display: block;
font-size: 1.0rem;
font-weight: bold;
color: #555;
margin: 40px 0 8px;
padding-top: 32px;
border-top: 1px solid #e8e8e8;
}
.st-Form_help {
font-size: 1.0rem;
color: #999;
margin-top: 0.6em;
}
.st-Form_submit-danger {
background-color: #e14b22;
}
.st-Form_submit {
display: inline-block;
color: #fff;
border: none;
font-size: 1.0rem;
padding: 8px 24px;
margin-top: 24px;
cursor: pointer;
text-decoration: none;
}
/*メニューバー*/
.ecoico:hover{
  transform:scale(1.2,1.2);
}
.menu{
  margin-left:15px;
  color:white;
}
#hamburger{
  width: 100%;
}
#hamburger .btn-gNav{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span{
  position: absolute;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span:nth-child(1) {
  top:0;
}
#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
}
#hamburger .btn-gNav span:nth-child(3) {
  top:20px;
}
#hamburger .btn-gNav.open span:nth-child(1){
  background: rgb(149, 238, 149);
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
#hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
  top: 6px;
  background :rgb(203, 247, 179);
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
#gNav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #1d1f1db4;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
#gNav.open{
  right: 0px;
}
#gNav .gNav-menu{
  width: 100%;
  height:100%;
  display: block;
  flex-direction: column;
  text-align: center;
  /*justify-content: center;*/
}
#gNav .gNav-menu li{
  display: block;
  padding : 20px 30px;
}
#gNav .gNav-menu li a{
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  color: rgb(245, 243, 243);
  font-size: 1.1rem;
  text-size-adjust: 100%;
}
@media screen and (min-width: 768px){
  .btn-gNav{
    display: none;
  }
  #gNav{
    display: none;
    position: inherit;
    max-width: 1200px;
    top: 100px;
    right: 0;
    height: 50px;
  }
  #gNav .gNav-menu{
    display: none;
    width: 100%;
    height: 4%;
    position: fixed;
    top: 50px;
    text-align: right;
  }
}
@media screen and (max-width: 767.9px) {
  .menu { display: none; }
  .sintyakuippan{
    margin-top:20px;
    margin-left:0px;
    margin-right:0px;
    background-color:white;
  }
  .sintyakusenmon{
    margin-top:20px;
    margin-bottom:20px;
    margin-right:auto;
    background-color:white;
  }
}