nav {
  padding-top:30px;
  /* border-bottom: 1px solid black;
  background-color: rgb(39, 218, 113); */
}
.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}
.crumb {
  display: inline-block;
}
.crumb a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: rgb(0, 0, 0);
}
table{
  width: 400px;
  height: 100px;
  border: 2px #000 solid;
  background-color: white;
}
th{
  text-align: center;
  font-size: 120%;
  border: 2px #000 solid;
}
td{
  text-align: center;
  border: 2px #000 solid;
}
.menu{
  margin-left:15px;
  color:white;
}
.ecoico:hover{
  transform:scale(1.2,1.2);
}
/*search*/
.search-btn{
  font-size: 22px;
  border: none;
  background: white;
  color: black;
  position: absolute;
  width: 2em;
  height: 32px;
  right:1px;
  top: 2px;
}
.search:hover{
  color:rgba(0, 187, 255, 0.918);
}
.form-group{
  position:relative;
  max-width:300px;
  top:8px;
}
/*input[type="text"]:focus{
  background: white;
  outline:black 2px solid;
}*/
/*article*/
.kategory{
  color: rgb(182, 182, 182);
}
.titlenew{
  margin-top: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.sintyakuippan{
  margin-top:20px;
  margin-left:50px;
  margin-right:50px;
  background-color:white;
}
.sintyakusenmon{
  margin-top:20px;
  margin-right:auto;
  background-color:white;
}
.midasi{
  color: rgb(39, 218, 113);
  font-family: 'Times New Roman', Times, serif;
  padding-left: 5px;
}
.midasi2{
  font-family:'Times New Roman',Times,serif;
  padding-left:5px;
  max-width: 50px;
  border: solid 3px rgb(39, 218, 113);/*線*/
  border-radius: 10px;/*角の丸み*/
}
.homehr {
  border-width: 3px 0 0 0; /* 線の太さを指定 */
  border-color: #F4F5F7;
}
article {
  width: 100%;
  padding-bottom: 10px;
}
.articleone{
  /*border: solid 3px gray;*/
  border-bottom: solid  3px #f6f6f4;
  margin-bottom: 3px;
}
.articlefont{
  padding-top: 10px;
  padding-left: 5px;
  line-height: 1;
}
.articletitle{
  font-size: 125%;
  padding-left: 25px;
  line-height: 1;
  font-family: sans-serif;
}
.articlecategory{
  padding-top: 10px;
  padding-left: 5px;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tagu{
  margin-left:15px
}
/* メニューボタン */
#hamburger{
  width: 100%;
}
#hamburger .btn-gNav{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span{
  position: absolute;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span:nth-child(1) {
  top:0;
}
#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
}
#hamburger .btn-gNav span:nth-child(3) {
  top:20px;
}
#hamburger .btn-gNav.open span:nth-child(1){
  background: rgb(149, 238, 149);
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
#hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
  top: 6px;
  background :rgb(203, 247, 179);
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
#gNav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #1d1f1db4;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
#gNav.open{
  right: 0px;
}
#gNav .gNav-menu{
  width: 100%;
  height:100%;
  display: block;
  flex-direction: column;
  text-align: center;
  /*justify-content: center;*/
}
#gNav .gNav-menu li{
  display: block;
  padding : 20px 30px;
}
#gNav .gNav-menu li a{
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  color: rgb(245, 243, 243);
  font-size: 1.1rem;
  text-size-adjust: 100%;
}

@media screen and (min-width: 768px){
  .btn-gNav{
    display: none;
  }
  #gNav{
    display: none;
    position: inherit;
    max-width: 1200px;
    top: 100px;
    right: 0;
    height: 50px;
  }
  #gNav .gNav-menu{
    display: none;
    width: 100%;
    height: 4%;
    position: fixed;
    top: 50px;
    text-align: right;
  }
}
@media screen and (max-width: 767.9px) {
  .menu { display: none; }
  .sintyakuippan{
    margin-top:20px;
    margin-left:0px;
    margin-right:0px;
    background-color:white;
  }
  .sintyakusenmon{
    margin-top:20px;
    margin-bottom:20px;
    margin-right:auto;
    background-color:white;
  }
}