<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='/scripts/home.js'></script>
</head>
<body style="margin:0px; padding:0px; width:100%; text-align: center; background-color: #F4F5F7;">
    <nav class="navbar navbar-light justify-content-center" style="width:100%; background-color: rgb(39, 218, 113);">
        <div class="navbar-nav mr-auto">
            <a href ="../"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;" class="ecoico"></a>
        </div>
        <a class = "menu" href="about">エコシルとは？</a>
        <a class = "menu" href="/users/login">ログイン</a>
    </nav>
    
    <div id="hamburger">
        <p class="btn-gNav">
            <span></span>
            <span></span>
            <span></span>
        </p>
        <nav id="gNav" class="">
            <ul class="gNav-menu">
                <li><a href="../about">エコシルとは？</a></li>
                <li><a href="/">ホーム</a></li>
                <li><a href="/users/login">ログイン</a></li>
            </ul>
        </nav>
    </div>

    <nav style="display: inline-block;">
        <header>
            <h1 class="display-4"><%= title %></h1>
        </header>
        <div role="main">
            <h4 style="margin-top:30px;"><%- content %></h4>
            <form method="post" action="/users/add" style="display:inline-block;">
              <div class="form-group" style="width:250px; margin-top:15px;">
                  <!-- <label for="name">NAME</label> -->
                  <input type="text" name="name" id="name" class="form-control" placeholder="ユーザー名を登録">
              </div>
              <div class="form-group" style="width:250px; margin-top: 10px;">
                  <!-- <label for="pass">PASSWORD</label> -->
                  <input type=" password" name="pass" id="pass" class="form-control" placeholder="パスワードを登録">
              </div>
              <input type="submit" value="アカウントを作成" class="btn" style="font-weight:bold; width:250px; margin-top:30px; color:#fff; background-color:#55c500;">
            </form>
            <p class="mt-4">ログインページは<a href="/users/login" style="border-bottom: 1px solid;">こちら</a></p>
        </div>
    </nav>
</body>
</html>