<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a7b0647ea4.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/article.css" type="text/css">
    <title>article</title>
</head>
<body style="margin:0px; padding:0px;background-color: rgba(202, 206, 209, 0.452);">
        <nav class="navbar navbar-light justify-content-center" style= "width:100%; background-color: rgb(39, 218, 113);">
            <div class="navbar-nav mr-auto">
                <a href="../../../"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;max-height: 80px;" class="ecoico"></a>
            </div>

            <div class="dropdown" style="margin-right: 15px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    メニュー
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/mypage/home/0/0">マイページ</a>
                  <a class="dropdown-item" href="/posting">投稿作成</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/mypage/logout">ログアウト</a>
                  <a class="dropdown-item" href="/settings/profile">設定</a>
                </div>
            </div>
        </nav>

        <div class="col-md-10" style="height:auto; margin-top:1em; margin-bottom:1.5em; margin-right:auto; margin-left:auto; background-color: white;" id="a-box">
            <div class="container" id="mds">
                <% id.forEach(function (value) { %>
                <h7 class="text-secondary"><a class="font-weight-bold" id="nm" href="/mypage/home/<%= value.name %>/1"><%= value.name %></a> が投稿</h7>
                <h1 ><%= value.title %></h1>
                <h7 class="text-secondary"># <a class="text-dark" href="/category/<%= value.category1 %>"><%= value.category1 %></a><a class="text-dark" href="/category/<%= value.category2 %>"> <%= value.category2 %></a> </h7>

                <div id="con2">
                    <form action="/mypage/article/<%= Id %>/0" method="post" >
                        <% id.forEach(function (value) { %>
                        <div id="b-box" ><button id = "btn"  ><i class="<%= icon %>" id="icon" style="font-size: 20px" > <%= value.likes %></i></button></div>
                        <% }); %>
                    </form>
                </div>
            </div>
            <div class="articleall">
                <p style="float: left;"><%= value.text %></p>
                <div class="articleImg"><img src="data:;base64,<%= value.uploaded_file %>" id="artimg"></div>
            </div>
            <!-- <table>
                <tr>
                    <td><%= value.text %></td>
                    <td><img src="../../../<%= value.uploaded_file %>"></td>
                </tr>
            </table> -->


        </div>

        <div class="col-md-10" style="margin-top:1.5em; margin-bottom:1.5em; margin-right:auto; margin-left:auto; background-color: white;">
            <div class="container" >
                <img src="/icon/<%= prf[0].icon  %>" id="icon" style="position:relative; right:15px; width:40px; height:auto;">
                <div class = "author" ><a class="font-weight-bold" id="nm" href="/mypage/home/<%= value.name %>/1" style="position:relative; right:15px;"><%= value.name %></a></div><br>
                <div class = "prf" > <%= prf[0].profile %></div>
            </div>
        </div>
    <% }); %>

    <div class="col-md-10" style="margin-top:1.5em; margin-bottom:1.5em; margin-right:auto; margin-left:auto; background-color: white;">
        <div class="container" style="margin-top: 5px;">
            <h4 style="font-weight: bold; position:relative; top:7px;">コメント</h4>
        </div>

        <% for(var i in content) { %>
        <div class="container"  id="come" style="border-top:2px solid rgba(202, 206, 209, 0.452)">

                <% obj = content[i]; %>
                <div class="left" id="haha">
                    <img src="/icon/<%= obj.icon %>" id="cmicon">
                    <a class="text-dark" href="/mypage/home/<%= obj.name %>/1"><%= obj.name %></a>
                </div>
                <% var d = new Date(obj.createdAt);  if(10 > d.getMinutes()){var minutes = '0'+d.getMinutes();}else{var minutes = d.getMinutes();} var dstr = d.getFullYear() + '-' + (d.getMonth()+1) + '-' +
                d.getDate() + ' ' + d.getHours() + ':' + minutes%><div class="right" id="haha"><%= dstr %></div>
                <div class = "test" ><%= obj.message %></div>
                <form action="/mypage/article/good/<%= Id %>/<%= obj.id %>" method="post" >

                    <% if(comeid==0){ %>
                        <div id="b-box" ><button id = "btn"  ><i class="fas fa-thumbs-up" id="icon" style="font-size: 20px" ><%= obj.likes %></i></button></div>
                    <% }else{ %>
                        <% var ans=0 %>
                        <% for(var j in comeid) { %>
                            <% if (obj.id == comeid[j].comeId) { %> <% ans=1 %> <% } %>
                        <% } %>
                        <% if(ans ==1){%><div id="b-box" ><button id = "btn"  ><i class="fas fa-check-circle" id="icon" style="font-size: 20px" ><%= obj.likes %></i></button></div><% }else{ %>
                            <div id="b-box" ><button id = "btn"  ><i class="fas fa-thumbs-up" id="icon" style="font-size: 20px" ><%= obj.likes %></i></button></div><% } %>
                    <% } %>
                </form>
            </div>
        <% } %>

        <div class="container" style="border-top:2px solid rgba(202, 206, 209, 0.452)">
            <h7 style="font-weight: bold; position:relative; top:10px">コメントを投稿する</h7>
            <form method="post" action="/mypage/article/add/<%= Id %>" class="mt-2">
            <div class="row">
                <div class="col col-md-8">
                        <div class="form-group" style="margin-top: 10px;">
                            <textarea type="text" name="msg" class="form-control" rows="5" placeholder="テキストを入力"></textarea>
                        </div>
                </div>
            </div>
                    <input type="submit" value="送信" class="btn btn-primary col-1" style="margin-bottom: 10px; min-width: 70px;" >
            </form>
        </div>
        </div>
    </div>

</body>
</html>
