<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel='stylesheet' href='/stylesheets/mypageHome.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src='/scripts/home.js'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
</head>
<body class="allWrapper">
    <div class="headico">
        <a href ="/"><img src="/images/ecosirutoukawhite.png" alt="エコシルアイコン" style="display: inline; width:220px;" class="ecoico"></a>
        <div class="menu">
            <a href="/">ホーム</a>
            <a href="/users/logout">ログアウト</a>
            <a href="/posting">アイデア投稿</a>
        </div>
    </div>

    <div id="hamburger">
        <p class="btn-gNav">
            <span></span>
            <span></span>
            <span></span>
        </p>
        <nav id="gNav" class="">
            <ul class="gNav-menu">
                <li><a href="/">ホーム</a></li>
                <li><a href="/users/logout">ログアウト</a></li>
                <li><a href="/posting">アイデア投稿</a></li>
            </ul>
        </nav>
    </div>



        <h1 style="margin-left: 20px;"><%= name %>の投稿一覧</h1>
        <% var counter = 0; %>
        <% sumlikes.forEach(function (value) { %>
        <% counter += value.likes %>
        <% }); %>
        <% counter += cmlikes %>
        <h3 style="margin-left: 20px;">もらったいいね数：<%= counter %></h3>

        <div class="all-articles">
            <% users.forEach(function (value) { %>
                <article>
                        <div>
                                <h1><a id="a-h1" href = "/mypage/article/<%= value.post_id %>/0"><%= value.title %></a></h1>
                                <footer>
                                    <p class="articlecategory"><img src='/images/taguaikon.png' alt="タグ" style="display: inline; width:20px;">
                                    <a href="/category/<%= value.category1 %>" class='category'><%= value.category1 %></a>
                                    <a href="/category/<%= value.category2 %>" class='category'><%= value.category2 %></a>
                                    </p>
                                </footer>
                                <p class='pv'>PV.<%= value.views %></p>
                                <a href="/u_update/<%= value.post_id %>" class='fixarticle'>更新</a>
                                <a href="/delete/<%= value.post_id %>" class='fixarticle'>削除</a>
                                <hr>
                        </div>
                </article>
            <% }); %>
        </div>
    </div>
</body>
</html>
