<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="container">

    <header>
        <h1 class="display-4"><%= title %></h1>
    </header>
    <div role="main">
        <table class="table">
            <% for(var i in content) { %>
            <tr>
                <% var obj = content[i]; %>
                <th><%= obj.id %></th>
                <td><%= obj.name %></td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>